.match-wrapper {
  display: grid;
  grid-gap: 1rem;
}

.match {
  display: grid;
  grid-gap: 1rem;
  position: relative;
  border-bottom: 1px solid #929292;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  > .fifty-fifty {
    padding-bottom: 1rem;
    &:not(:last-child) {
      border-bottom: 1px solid #929292;
    }
  }
}

.remove-specific {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 2rem;
}
