<section class="content">
  <h2>Impressum</h2>
  <p>Die Kneipenliga-Oldenburg ist eine vereins- und verbandsunabhängige Liga, die selbständig und unabhängig vom Spielbetrieb des Deutschen Tischfussballbunds DTFB organisiert ist und keinen Anspruch auf Professionalität -im Spiel- legt.</p>
  <p>
    <b>Inhaltlich verantwortlich:</b><br/>
    Kneipenliga-Oldenburg<br/>
    Stau 25-27<br/>
    26122 Oldenburg
  </p>
  <p>
    <b>Vertreten durch:</b><br/>
    Sarah Jaeck (Datenschutzbeauftragte)
  </p>
  <p>Kontakt: <a href="mailto:info@kneipenliga-oldenburg.de">info@kneipenliga-oldenburg.de</a></p>
  <p>Keyvisual und Slogan: <a href="https://frese-wolff.de">Frese & Wolff</a></p>
  <p>Entwicklung WebApp: Oliver Linde</p>
</section>