@import './settings';

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

input[type='submit'],
button,
.btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid $brand-primary;
  background-color: $brand-primary;
  color: $text-light;
  position: relative;

  &:disabled {
    background-color: desaturate($brand-primary, 100%);
    color: desaturate($text-light, 100%);
  }

  &.is-primary {
    background-color: $brand-primary;
    color: $text-light;
  }

  &.is-secondary {
    background-color: #fff;
    border-color: $brand-primary;
    color: $brand-primary;
  }

  &.is-danger {
    background-color: #b31f1f;
    border-color: #b31f1f;
    color: #fff;
  }

  &.is-narrow {
    width: auto;
    margin: auto;
  }

  &.is-loading {
    color: transparent;
  }

  &.is-loading:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: 2px solid $text-light;
    border-left-color: transparent;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    animation: 900ms loader infinite linear;
  }

  &.is-success:before {
    width: 8px;
    animation: none;
    border-radius: 0;
    border-left-width: 0;
    border-top-width: 0;
    transform: translate(-50%, -65%) rotate(35deg);
  }
}
