@import './settings';

form {
  display: grid;
  grid-gap: 1rem;

  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    border: 1px solid $border-light;
    padding: 0.5rem;
  }

  textarea {
    resize: vertical;
    min-height: 8rem;
  }

  input.ng-dirty.ng-invalid {
    border-color: $cl-error;
    background-color: lighten($color: $cl-error, $amount: 60%);
  }
}
