<section class="content">

  <h2>Teams</h2>

  <article>
    <h3>Amadeus</h3>
    <p><i>#crewloveistruelove</i></p>
    <p>Kneipe: Amadeus</p>
    <p class="admin">
      <a [routerLink]="['/admin/teams/edit/1']" class="btn is-secondary">Team bearbeiten</a>
    </p>
  </article>

  <article>
    <h3>F&W</h3>
    <p><i>Werbung macht Spaß!</i></p>
    <p>Kneipe: 3Raumwohnung</p>
    <p class="admin">
      <a [routerLink]="['/admin/teams/edit/1']" class="btn is-secondary">Team bearbeiten</a>
    </p>
  </article>

  <article>
    <h3>NWZ</h3>
    <p><i>Nachrichten vom Kickertisch</i></p>
    <p>Kneipe: Charly's</p>
    <p class="admin">
      <a [routerLink]="['/admin/teams/edit/1']" class="btn is-secondary">Team bearbeiten</a>
    </p>
  </article>
</section>

<section class="content">
  <p>
    <a [routerLink]="['/admin/teams/add']" class="btn is-primary">Neues Team anlegen</a>
  </p>
</section>