<section class="content">

  <h2>KNEIPEN.</h2>

  <article>
    <img src="https://kneipenliga-oldenburg.de/images/ama.png" />
    <h3>Amadeaus Tanzspeicher</h3>
    <p><i>Tanz- und Nachtclub; Bühne und Veranstaltungsort</i></p>
    <ul>
      <li>Mottenstraße 21</li>
      <li>Mittwochs: Studi-Mittwoch!</li>
      <li>Mittwochs: Studenten-Bude!</li>
      <li>Kickern for free</li>
      <li><a href="http://amadeus-ol.de" target="_blank">amadeus-ol.de</a></li>
      <li>Zwei Tische (Leonhart S4P) im Raucherbereich</li>
      <li>Öffnungszeiten: Mi, Fr & Sa 23.00-5.00 Uhr</li>
    </ul>
    <!-- <p>
      <a [routerLink]="['/admin/kneipen/edit/1']" class="btn is-secondary">Kneipe bearbeiten</a>
    </p> -->
  </article>

  <article>
    <img src="https://kneipenliga-oldenburg.de/images/ubb.png" />
    <h3>umBAUbar</h3>
    <p><i>Ewige Baustelle und Ort der Unruhe und Exzesse</i></p>
    <ul>
      <li>Tanz- und Nachtclub; Bühne und Veranstaltungsort, Bar</li>
      <li>Stau 25 – 27</li>
      <li>Mittwochs: Studi-Mittwoch!</li>
      <li>Kickern for free</li>
      <li><a href="http://www.umbaubar.net/" target="_blank">umbaubar.net</a></li>
      <li>Zwei Tische (Leonhart S4P) im Raucher- und Nichtraucherbereich</li>
      <li>Öffnungszeiten: Dienstag bis Samstag ab 20.00 Uhr</li>
    </ul>
    <!-- <p>
      <a [routerLink]="['/admin/kneipen/edit/1']" class="btn is-secondary">Kneipe bearbeiten</a>
    </p> -->
  </article>

  <article>
    <img src="https://kneipenliga-oldenburg.de/images/marvins.png" />
    <h3>Marvin's</h3>
    <p><i>Don’t panic!</i></p>
    <ul>
      <li>Kneipe, Kicker Kunst & Kulturelles</li>
      <li>Rosenstraße 6</li>
      <li>Speisekarte verfügbar - Küche bis 00Uhr!</li>
      <li>Montags: Team Contakt Oldenburg (Bezirksliga Nord-West)</li>
      <li><a href="http://marvins.de" target="_blank">marvins.de</a></li>
      <li>Zwei Tische (Leonhart Turniersieger) im Raucherbereich</li>
      <li>Öffnungszeiten: So-Do 19.00-2.00 Uhr; Fr-Sa 20.00-3.00 Uhr</li>
    </ul>
  </article>

  <article>
    <img src="https://kneipenliga-oldenburg.de/images/charlys.png" />
    <h3>Charly's</h3>
    <p><i>Oldenburgs LIVE-CLUB</i></p>
    <ul>
      <li>Wallstraße 26</li>
      <li>Blues meets Rock</li>
      <li><a href="http://charlys-musikkneipe.de" target="_blank">charlys-musikkneipe.de</a></li>
      <li>Zwei Tische (Leonhart Turniersieger) im Raucherbereich</li>
      <li>Öffnungszeiten: Mi 19.00-3.00 Uhr;</li>
      <li>Do 19.00-2.00 Uhr; Fr-Sa 19.00-5.00 Uhr</li>
    </ul>
    <!-- <p>
      <a [routerLink]="['/admin/kneipen/edit/1']" class="btn is-secondary">Kneipe bearbeiten</a>
    </p> -->
  </article>

  <article>
    <img src="https://kneipenliga-oldenburg.de/images/3rw.png" />
    <h3>3Raumwohnung</h3>
    <p><i>Dein zweites Wohnzimmer</i></p>
    <ul>
      <li>Abraham 13</li>
      <li>Bar, Dart, Kickern, Musik, Sky</li>
      <li>Sportverein - TFC Devils</li>
      <li>D.Y.Ps (Draw Your Partner)</li>
      <li>Visit on <a href="https://www.facebook.com/3Raumwohnung-601431883286596" target="_blank">Facebook</a></li>
      <li>Ein Tisch (Leonhart Pro Tournament) im Nichtraucherbereich (plus TFC Devils-Vereinsraum)</li>
      <li>Öffnungszeiten: Di 18.00-1.00 Uhr; Mi-Do 18.00-2.00 Uhr; Fr 18.00-3.00 Uhr; Sa 15.00-3.00 Uhr</li>
    </ul>
    <!-- <p>
      <a [routerLink]="['/admin/kneipen/edit/1']" class="btn is-secondary">Kneipe bearbeiten</a>
    </p> -->
  </article>

</section>

<!-- <section class="content">
  <p>
    <a [routerLink]="['/admin/kneipen/add']" class="btn is-primary">Neue Kneipe anlegen</a>
  </p>
</section> -->