<section class="content">
  <h2>Moin, Moin!</h2>

  <p>Herzlich willkommen in der WebApp der Kneipenliga Oldenburg!</p>
  <p>
    Hier kannst du dich und dein Team registrieren. Das Menü findest du am unteren Rand des Bildschirms.
  </p>
  <p>
    Die WebApp ist keine klassische App, die aus dem App-Store geladen wird und wird ständig weiter entwickelt. Die
    Updates erhältst du vollkommen automatisiert, dadurch bist du immer auf dem neuesten Stand!
  </p>
  <p>
    Aktuell befinden wir uns in einer <i>"open beta"</i> Version. Das heißt, dass die App noch hier und da
    fehlerbehaftet ist
    und manche Funktionen gar nicht funktionieren. Falls ihr einen Fehler findet, so gebt bitte der
    <a href="https://www.facebook.com/Kneipenliga-Oldenburg-2383341295018427/" target="_blank">Kneipenliga Crew</a>
    bescheid.
  </p>


  <h2>Roadmap.</h2>
  <p>Das Kickoff fand bereits am 10.7.2019 in der UmBAUbar statt. Dort haben die ersten Tests der App stattgefunden und
    wir haben euer Feedback gesammelt. Wir arbeiten stetig daran die App zu verbessern, Fehler zu beheben und neue
    Funktionen bereitzustellen.</p>

  <h3>Daran arbeiten wir gerade:</h3>
  <ul>
    <li>Tabelle</li>
    <li>Teams der aktuellen Saison</li>
    <li>Spiele eines Teams</li>
    <li>Einladen von Teammitgliedern</li>
    <li>SSL Verschlüsselung</li>
    <li>ServiceWorker</li>
  </ul>

  <!--
  <h3>Juli 2019.<br /><small>v0.1.0 Challenge</small></h3>
  <ul>
    <li>Tabelle</li>
    <li>Teams der aktuellen Saison</li>
    <li>Spiele eines Teams</li>
    <li>Einladen von Teammitgliedern</li>
    <li>SSL Verschlüsselung</li>
    <li>ServiceWorker</li>
  </ul>

  <h3>August 2019.<br /><small>v0.2.0 Validation</small></h3>
  <ul>
    <li>E-Mail Adresse bestätigen</li>
    <li>Freischaltung von Teams</li>
    <li>Prüfung der Ergebnisse durch Gegner</li>
  </ul>

  <h3>September 2019.<br /><small>v0.3.0 Administration</small></h3>
  <ul>
    <li>t.b.a.</li>
  </ul>

  <h3>Dezember 2019.<br /><small>v1.0.0 Base</small></h3>
  <ul>
    <li>t.b.a.</li>
  </ul>
  <h2>Tabelle {{ (activeSeason$ | async)?.title }}</h2>

  <table class="table">
    <thead>
      <tr>
        <td>Team</td>
        <td>Spiele</td>
        <td>Punkte</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amadeus</td>
        <td>4</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Kneipenliga</td>
        <td>3</td>
        <td>6</td>
      </tr>
      <tr>
        <td>F&W</td>
        <td>3</td>
        <td>5</td>
      </tr>
      <tr>
        <td>NWZ</td>
        <td>2</td>
        <td>4</td>
      </tr>
      <tr>
        <td>CEWE</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>

  <h2>Begegnungen</h2>

  <ol class="matches">
    <li>
      <div class="number">5</div>
      <div class="separator">:</div>
      <div class="number">4</div>
      <div class="date">12. Januar 2019</div>
      <div class="team">Amadeus</div>
      <div class="team">NWZ</div>
    </li>
    <li>
      <div class="number">5</div>
      <div class="separator">:</div>
      <div class="number">4</div>
      <div class="date">11. Januar 2019</div>
      <div class="team">Amadeus</div>
      <div class="team">NWZ</div>
    </li>
    <li>
      <div class="number">5</div>
      <div class="separator">:</div>
      <div class="number">4</div>
      <div class="date">10. Januar 2019</div>
      <div class="team">Amadeus</div>
      <div class="team">NWZ</div>
    </li>
  </ol> -->
</section>