<section class="content">
  <h2>REGELWERK.</h2>

  <h3>
    Habt Spaß und bleibt fair!<br />
    <small>(Die oberste und wichtigste Regel bei jedem Kneipenliga-Match)</small>
  </h3>
  <h4>Grunds&auml;tzlich gilt:</h4>
  <ul class="disc">
    <li>Tore dürfen aus allen Reihen geschossen werden.</li>
    <li>Es wird per Los entschieden, welches Team das Spiel beginnt</li>
    <li>Das Sieger-Team darf die Tischseite wählen und erhält den Anstoß-Ball auf der 5er-Reihe</li>
    <li>Vor dem Anstoß wird sich vergewissert, dass alle Spieler*innen spielbereit sind</li>
    <li>Der Ball wird bei Spielbeginn innerhalb der 5er-Reihe zu einer anderen Figur gepasst, wobei sich der Ball
      sichtbar bewegen muss bevor er rausgespielt wird</li>
    <li>Nach einem Tor dürfen die Positionen innerhalb des Teams gewechselt werden</li>
    <li>Wer ein Tor kassiert, bekommt den nächsten Anstoß von der 5er-Reihe</li>
    <li>Wenn ein Ball die Tor-Rückwand berührt und wieder herausspringt, zählt das als Tor</li>
    <li>Springt der Ball aus dem Spielfeld, bekommt das verteidigende Team den Ball auf der 2er-Reihe </li>
    <li>Die Kickertische werden pfleglich behandelt, bei Mängeln oder Problemen wird entweder der Club vor Ort oder
      die Ligaleitung informiert</li>
    <li>Getränke gehören nicht auf den Kickertisch!</li>
    <li>Sollte es zu Regelfragen innerhalb der Partie kommen, die durch das Regelwerk nicht abgedeckt sind, sind alle
      Spieler*innen angehalten, sich im Sinne der Fairness zu einigen</li>
  </ul>
  <h4>Grunds&auml;tzlich verboten:</h4>
  <ul>
    <li>Unfaires, unsittliches und unsportliches Verhalten</li>
    <li>Stangen drehen</li>
    <li>Übertrieben am Tisch anschlagen oder den Tisch verrücken</li>
    <li>Während des Spiels an die gegnerischen Stangen oder in das Spielfeld greifen</li>
    <li>Jet und Kurbler (mehr als 360°) zählen nicht als Tor</li>
  </ul>
</section>